@font-face {
    font-family: 'Skia';
    src: url('../assets/fonts/ufonts.com_skia.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

.font {
    font-family: 'Skia' !important;
}